body{

    background-color: #333;
    /* color: #eeeeee; */ 

}
.logo{
    max-width: 30%;
    min-height: 100px;
    border-radius: 100%;
    border-style: solid;
    text-align: center;
    /* width: 30%; */
    margin: auto;
    margin-top: 30px;
    color: rgb(197, 204, 211);
    padding: 20px;
    background-image: url('../website\ 1/heic1608a.jpg');
    background-position: top left;

}
.logo a{
    margin-top: 10px;
    position: relative;}

#gototop{
    
    position: fixed;
    bottom:20px;
    right: 40px;
}
.boxes{
    margin: auto;
    min-width: 30%;
    color: white;
    
}

}
a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}

@media(max-width:600px){
    .logo{
        width: 100%;
        float:none;

    }
    .boxes{
        /* width: 100%; */
        /* float:none; */
    }
}