:root{
    --theme-e: black;
    --margin: 10px;

}
ul{
    padding: 5px 5px 5px 15px;
    margin: 5px;
}
p{
    padding: 0px 5px;
}
.snippet {
    display: flex;
    margin: var(--margin);
    padding: 10px;
    background-color: whitesmoke;
}

.info {
    margin: var(--margin);
    font-size: large;
    background-color: #ddd;
    /* flex: 1; */
}

.visual{
    /* flex: 2; */
    margin: var(--margin);
    border: 1px solid black;
    background-color: white;
    min-width: 30%;
    
}

.code {
    /* background-color: black;
    color: white; */
    margin: var(--margin);
    /* flex: 1; */
    /* background-color: dodgerblu; */
    white-space: pre;
}

/* emmet: div.snippet>div.info+div.visual+div.code>pre>code */

@media only screen and (max-width: 780px) {
    .snippet{
        flex-direction: column;
        --margin: 5px
    }
  }
