body{
    display: grid;
    grid-template-areas: "title title title""main header header""main sidebar footer"
}
header {
    grid-area : title;
    background-image: url(../website\ 1/heic1608a.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
    
}

