.box1 {
    background-color: Tomato;
    width: 200px;
}
.box2 {
    padding: 10px;
    border: 20px solid slateblue;
}

.box3, .box4 {
    border: 30px solid aqua;
    width: 80px;
    height: 80px;
}

.box3 {
    margin: 20px;
    background-color: coral;
    
    
}
.box4{
    margin: 30px;
    background-color: lightblue;
}
.sized{
    box-sizing: border-box;
    
}